.App {
  max-width: 700px;
  margin: 40px auto;
  text-align: center;
  border: 1px solid black;
  font-family: "Montserrat", sans-serif;
}

.App h1 {
  color: #76767c;
  margin-top: 15px;
}

.App h3 {
  color: #a78341;
}

.App footer {
  font-size: 15px;
  color: #76767c;
  margin: 10px;
  font-weight: 300;
}
.App a {
  text-decoration: none;
  color: #a78341;
  font-weight: 500;
}
.App a:hover {
  color: #76767c;
  transition: 200ms all ease-in-out;
}
