.App {
  max-width: 1000px;
  margin: 20px auto;
  text-align: center;
  color: #6e6f72;
  border: 4px outset rgba(55, 56, 61, 0.5);
  border-radius: 5px;
  font-family: "Montserrat", sans-serif;
}
.App .container {
  margin-top: 15px;
}
.App h1,
.App .LibraryIcon {
  letter-spacing: 1.5px;
  font-weight: 300;
  font-size: 50px;
}

.App h3 {
  color: #a78341;
}

.App footer {
  font-size: 15px;
  color: #76767c;
  margin: 10px;
  font-weight: 300;
}
.App a {
  text-decoration: none;
  color: #a78341;
  font-weight: 500;
}
.App a:hover {
  color: #76767c;
  text-decoration: underline;
  transition: 200ms all ease-in-out;
}
