.App {
  max-width: 700px;
  margin: 40px auto;
  text-align: center;
  border: 1px solid black;
  font-family: "Montserrat", sans-serif;
}

.App h1 {
  color: #76767c;
  margin-top: 15px;
}

.App h3 {
  color: #a78341;
}
