.Results .Results-word {
  font-size: 40px;
  color: #a78341;
  text-transform: uppercase;
  font-weight: 300;
}

.Results h4 {
  color: #a78341;
  margin: 0;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 1.5px;
}
