.Search {
  background-image: url("./images/typewriter.jpg");
  background-size: 120%;
  background-position: right 50% top 50%;
  display: block;
  height: 600px;
  position: relative;
  margin: 0 auto;
  border-radius: 5px;
}
.Search form [type="search"] {
  margin: 0px auto;
  border: none;
  font-size: 25px;
  background: none;
  color: #a78341;
  text-align: center;
}

.Search form .SearchForm {
  padding-top: 170px;
}

.Search input:focus {
  border-radius: 5px;
  border: 1px solid #a78341 !important;
  box-shadow: 0 0 3px#a78341 !important;
}
.Search input:focus,
select:focus {
  outline-offset: 0px !important;
  outline: none !important;
}

.Search form [type="submit"] {
  background: #37383d;
  color: #a78341;
  padding: 15px 10px;
  border-radius: 50%;
  box-shadow: 5px 5px 2px 1px #fcfcfc80;
  position: relative;
  left: 135px;
  top: 25px;
}
